.idea/
.idea/*
.mypy_cache/
.mypy_cache/*
__pycache__/
__pycache__/*
ff14angler/__pycache__/
ff14angler/__pycache__/*
ff14angler/constants/__pycache__/
ff14angler/constants/__pycache__/*
ff14angler/exceptions/__pycache__/
ff14angler/exceptions/__pycache__/*
ff14angler/export/__pycache__/
ff14angler/export/__pycache__/*
ff14angler/network/__pycache__/
ff14angler/network/__pycache__/*
ff14angler/dataClasses/__pycache__/
ff14angler/dataClasses/__pycache__/*
ff14angler/dataClasses/bait/__pycache__/
ff14angler/dataClasses/bait/__pycache__/*
ff14angler/dataClasses/cache/__pycache__/
ff14angler/dataClasses/cache/__pycache__/*
ff14angler/dataClasses/comment/__pycache__/
ff14angler/dataClasses/comment/__pycache__/*
ff14angler/dataClasses/fish/__pycache__/
ff14angler/dataClasses/fish/__pycache__/*
ff14angler/dataClasses/spot/__pycache__/
ff14angler/dataClasses/spot/__pycache__/*
ff14angler/fetch/__pycache__/
ff14angler/fetch/__pycache__/*
data/
data/*
